<div class="blog-header">
  <h1 class="blog-title">My Blog</h1>
  <p class="lead blog-description">Welcome to my blog page, this page allows users to talk to each other about certain topics</p>
  <%= link_to 'Create a new Blog', new_blog_path if logged_in?(:site_admin) %>
</div>