<h1>About Me</h1>

<hr>

<p>I was born in Salt Lake City, Ut in 2002. I went to school around the wasatch front. I took an intrest in programming during 6th grade which was four years ago. Ever since then I have been slowly learning more on programming and what happens to make most porgrams run. I didn't learn a ton about programming until I took the course of Code To Success in Utah during the summer of 2017. When I did that I learned a lot more about everything from simple indentations to advance syles and running servers. I hope to major in computer science.</p>