<h1>Contact Me</h1>
<div class="row">
  <div class="col-md-6">
    <h3>Business Address</h3>
    
    <p>6672 Highland Dr, Salt Lake City, UT 84121</p>
    
    <h3>Email Address</h3>
    
    <p><a href="mailto:montaguebrody@gmail.com?subject=PortfolioContact" "email me">Email me</a></p>
    <p>Phone Number: 801-733-0553</p>
  </div>
    
    <div class="col-md-6">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3027.999092646564!2d-111.83684368424863!3d40.629901979340936!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8752628aa76f9515%3A0x5102685e671fdb80!2sRainbow+Connection+Preschool!5e0!3m2!1sen!2sus!4v1500392896921" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>





