<div class="inner cover">
  <h1 class="cover-heading">Welcome.</h1>
  <p class="lead">Welcome to my online portfolio website, here you can learn a little about me as well some contact information so that we may work together in the future.</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>